a.leaflet-control-zoom-in {
  font-size: 18px !important;
}

a.leaflet-control-zoom-out {
  font-size: 25px! important;
  font-weight: normal;
  text-indent: 0;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
  margin-right: 22px;
  margin-top: 20px;
  border:none;
  @include box-shadow-1(0 2px 6px rgba(0,0,0,0.3));
  @media #{$small-only} {
    display:none;
  }
  a { background-color: inherit !important; }
}

#map-gogo-controls
{
  display:none;

  @media #{$medium-and-up} {
    display: block;
    position: absolute;
    z-index: 500;
    left: 15px;
    top: 12px;
  }
}

.show-directory-menu-button
{
  left: 15px;
  img { height: 35px; margin-right: 5px; }

  .arrow-right
  {
    display: inline-block;
    border: solid 8px;
    border-color: transparent transparent transparent #eeeeee;
  }

  img { display: none; }

  i {
    margin-right: 5px !important;
  }
}

.show-as-list-button
{
  @media #{$small-only}
  {
    .button-text { display: none; }
  }
}

.gogo-map-control
{
  margin-right: 15px;
  display: inline-block;
  line-height: 1.5;
  font-weight: normal;
  font-size: 14px !important;
  padding: 5px 10px;
  @include box-shadow-1(2px 3px 1px rgba(0,0,0,.25));
  text-align: center;
  border-radius: 5px;

  &:hover{ cursor : pointer; }

  i {
    font-size: 1rem;
    float: left;
    line-height: 1rem;
    padding-top: 3px;
    margin-right: 10px;
  }
}

#map-features-buttons
{
  position: absolute;
  top: 20px;
  z-index: 500;
  right: 20px;
  width: 50px;
  @media #{$medium-and-up}  { width: 33px; top: 100px; }
}

#mobile-filters-icon img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  margin-top: 7px;
  display: none;
}

.feature-button
{
  position: relative;

  margin-bottom: 13px;
  text-align: center;

  width: 50px;
  border-radius: 50%;
  height: 50px;
  border: none;
  @include box-shadow-1(0 2px 6px rgba(0,0,0,0.3));

  @media #{$medium-and-up}
  {
    width: 33px;
    height: 33px;
    border-radius: 4px;
  }

  i {
    font-size: 22px;
    line-height: 55px;

    &.gogo-icon-list { font-size: 18px; }

    @media #{$medium-and-up}  { font-size: 18px; line-height: 39px; }
  }

  &#close-layers-panel
  {
    z-index: 10000;
    background-color: transparent;
    color: #888888;

    &:hover { background-color: transparent; color: #616161; }

    i { font-size: 16px;line-height: 44px; margin-left: 2px; }
  }

  &#change-layers {
    @media screen and (max-width: 600px) { display:none; }
  }
  &#export-iframe-btn
  {
    @media screen and (max-width: 600px) { display:none; }
  }

  &#map-default-view-btn  {
    i { font-size: 14px; }
    @media screen and (max-width: 600px) { display:none; }
  }

  &#geolocalize-btn {
    @media screen and (min-width: 600px) { display:none; }
  }
}

.leaflet-control-layers-toggle { display:none; }

.leaflet-control-layers
{
  padding: 0 !important;
  display: none;
  position: relative;
  z-index: 600;
  margin-right: 19px !important;
  margin-top: 15px !important;
  border: none;
  @include box-shadow-1(0 2px 6px rgba(0,0,0,0.3));
}

.leaflet-control-layers-list
{
  display: block !important;
  padding: 3px 0;
  position: relative !important;
}

.leaflet-control-layers-selector:checked + span
{
  font-weight: bold;
}

.leaflet-control-layers-base
{
  label
  {
    text-transform: uppercase;
    line-height: 1.4rem;
    border-bottom: 1px dashed #cccccc;
    padding: 4px 15px 0 15px;

    &:hover { cursor: pointer; }
    &:last-child { border: none; }
  }
}

