@import 'search-bar-mobile';
@import 'search-overlay-mobile';
@import 'search-result-header';

.search-bar-with-options-container
{
  .search-bar-container
  {
    height: 3.5rem;
    padding: .7rem;
    text-align: center;
    margin: 0;
    padding-bottom: 0;
    padding-left: .7rem;

    .search-icon
    {
      position: absolute;
      font-size: 1.2rem;
      height: 2rem;
      line-height: 2rem;

      &:before { line-height: 2rem; }
      &:hover { cursor: pointer; }

      &.search-bar-icon { left: 1.2rem; }
      &.search-geolocalize { right: 1.4rem; }
    }

    .search-bar
    {
      font-size: 16px;
      padding: 0 .5rem 0 .5rem;
      box-shadow: none !important;
      margin: 0;
      text-align: left;
      padding-left: 2.2rem;
      font-weight: bold;
      height: 2rem;
      width: 100%;
      border: none !important;
      // let space for geolocalize button
      padding-right: 2.3rem;
      @include border-radius(5px);
      @include box-sizing(border-box);

      @media (min-width: 850px) {
        text-transform: uppercase;
        font-size: .8rem;
      }

      &.invalid
      {
        border-color: $error-color !important;
      }

      &::-webkit-input-placeholder {
        color: #949494;
      }
      &::-moz-placeholder {
        color: #949494;
      }
      &:-ms-input-placeholder {
        color: #949494;
      }
      &:-moz-placeholder {
        color: #949494;
      }
    }
  }

  .search-options
  {
  	padding: 0 .7rem;
    padding-bottom: .7rem;

  	label.search-option-radio-label
  	{
      font-size: .9rem;
      line-height: 2.1rem;
      padding-left: 27px;
      margin-right: 13px;

      &:before
      {
      	border: 2px solid;
      	top: 3px;
  	    width: 14px;
  	    height: 14px;
      }

      &:after
      {
      	border: 2px solid;
    		top: 3px;
  	    width: 14px;
  	    height: 14px;
      }
  	}

  	.search-action-btn
  	{
  		float: right;
  		font-size: .85rem;
      height: 1.8rem;
      line-height: 1.8rem;
      padding: 0 10px;
  	}
  }

  #search-spinner-loader, #geolocate-spinner-loader
  {
    height: 12px;
    width: 12px;
    top: 1px;
    margin-left: 5px;
    .spinner-layer { border-color: #5d5d5d; }
    .circle-clipper .circle { border-width: 2px; }
  }
  #geolocate-spinner-loader {
    height: 18px;
    width: 18px;
    display: none;
    position: absolute;
    top: 7px;
    right: 0;
  }
  .search-geolocalize.loading {
    &:before { content: none; }
    #geolocate-spinner-loader { display: block; }
  }

  .search-no-result
  {
    color: white;
    padding-bottom: .7rem;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
  }
}

#directory-menu.small-width
{
  .search-options { padding-left: 7px; }
  .search-options label.search-option-radio-label { margin-right: 0}
}
