{% if value %}
  {% set longText = splitLongText(value, truncate|default(1000), tolerance|default(50)) %}
  <div class="field field-textarea">
    <div style="display: inline">{{ longText.first|safe }}</div>
    {% if longText.second %}
      <div style="display:none" class="text-more">{{ longText.second|safe }}</div>  
      <a class="show-more">{{ 'show.more' | i18n }}</a>
    {% endif %}
  </div>     
{% endif %}