@import "element-list-header";
@import "no-result-message";

#directory-content-list
{
	display:none;
	z-index: 650;
	@include flex(1 auto);
	width: 100%;
	overflow: auto;
	border-left: none;
	height: 100%;		

	.elements-container
	{
		position: relative;
		padding-bottom: 100px;

		height: 100%;
		@media #{$medium-and-up} { height: calc(100% - 3.5rem); }
		width: 100%;
		overflow-y: scroll;
		margin :0;

		padding-left: 0rem; padding-right: 0rem;
		@media #{$medium2-and-up} { padding-left: 3rem; padding-right: 3rem; }
		@media (min-width: 1500px) {padding-left: 10rem; padding-right: 10rem; }		

		&.custom-scroll-bar::-webkit-scrollbar {
		    width: 14px;
		}

		.bottom-gradient {
			position: fixed;
			height: 5rem;
			bottom: 0;
			width: 100%;
			z-index: 700;
		}

		.no-result-message {
			text-align: center;
			margin-top: 3rem;
		}
	}

	.element-item
	{
		display: block;
		.gogo-icon-close {display:none}
		.distance{ 
			margin-right: 0;
			margin-left: 6px;
		}
		.location{ 
			display: inline-block;
			float: right;
			margin-left: 1rem;
			.postalCode { font-size: .95rem; }
			.city { }
		}

		.expand-label {
	    background-color: transparent !important; 
	  }

		.collapsible-header
		{
			padding-left: .5rem;
    	padding-right: .5rem;
    	@media #{$small-only} {
	      padding-left: .8rem;
	      padding-right: .8rem;
	      padding-top: 5px;
	    }
		}
	}	

	.collapsible.popout
	{ 
		margin: 0;
		& > li { margin: 0 }
		& > li.active { 
			margin: 1rem 0; 
			.collapsible-header { border-bottom: 0; }
		}
	}

	.spinner-loader
	{
		@include order(1000000);
	}
	
	.menu-element, .info-bar-tabs
	{
		position: relative;
		display:none;
	}

	.element-item.active
	{
		.menu-element { display: block;}
		.info-bar-tabs { display: flex; }
	}

	.img-overlay 
	{
		max-height: 20rem;
		overflow: hidden;
	}

	.img-container
	{
	  max-height: 20rem;
	}
}

